@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: "Roboto", sans-serif;
}

.body {
    flex: 1;
    margin-top: 0;
}

.first_section, .header {
    background-color: #1f2937;
} 

.hero_text, .header a {
    font-size: 18px;
    color: #e5e7eb;
}

.header a {
    text-decoration: none;
}

#logo, .hero_main {
    color: #F9FAF8;
}

#logo {
    font-size: 24px;
    font-weight: 900;
}

.hero_main {
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

.sign_up_btn {
    color: #3882F6;;
}

.info_header {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.third_section{
    background-color: #E5E7EB;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}


.header, .header ul {
    display: flex;
    gap: 16px;
    align-items: center;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.header {
    padding: 24px;
    justify-content: space-evenly;
    margin-bottom: 0;
}

.first_section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px;
    gap: 50px;
}



.hero_image {
    background-color: gray;
    padding: 100px 150px;
    color: white;
}

.hero_content {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.hero_content p {
    margin: 5px 0 16px 0;
}

.sign_up_btn {
    flex-basis: 36px;
    width: 100px;
    background-color: #3882F6;
    color: white;
    border-radius: 10px;
    border-width: 0;
}


